body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: lightblue;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}

.pet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.adoptImg {
  width: 300px;
}

.picture {
  width: 250px;
  text-align: center;
}

.cat-container,
.dog-container {
  margin: 1em;
  padding: 2em;
  border: 2px solid darkcyan;
  background: lightgray;
  height: auto;
  border-radius: 20px;
  box-shadow: 10px 10px darkcyan;
  width: auto;
}

@media only screen and (min-width: 600px) {
  .pet-container {
    display: flex;
    flex-direction: row;
    width: auto;
  }
}

.Enter,
button {
  border: 2px solid darkcyan;
  border-radius: 20px;
  padding: 0.5em;
  margin: auto;
  background-color: lightgray;
}

.Enter:hover,
button {
  opacity: 0.8;
  box-shadow: 2px 2px darkcyan;
  cursor: pointer;
}

a {
  text-decoration: none;
}
